{% extends 'learning_logs/base.html' %}

{% block content %}
    <h2>Topic: {{ topic }}</h2>

    <p>Entries:</p>
    <ul>
        {% for entry in entries %}
            <li>
                <p><strong>Date:</strong> {{ entry.date_added|date:'M d, Y H:i' }}</p>
                <p>{{ entry.text|linebreaks }}</p>
            </li>
        {% empty %}
            <li>There are no entries for this topic yet.</li>
        {% endfor %}
    </ul>

    <!-- Add a button for adding a new entry -->
    <a href="{% url 'learning_logs:new_entry' topic.id %}" class="btn btn-primary">Add New Entry</a>
{% endblock content %}
